<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @person.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @person.username %>
</p>

<p>
  <strong>School:</strong>
</p>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Link</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @person.school.name %></td>
    <td><%= @person.school.code %></td>
    <td><%= link_to 'Detail', school_path(@person.school) %></td>
  </tr>
  </tbody>
</table>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
